[submodule "lib/WiFiManager"]
	path = lib/WiFiManager
	url = https://github.com/kentaylor/WiFiManager
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
